<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= performer.born %></div>
  <div>Birthday: </div>
  <div><%= performer.born %></div>
</section>

<%- include('../partials/footer') %>